
/* Fix Leaflet z-index in UIkit dialogs */

.leaflet-pane         { z-index: 10; }
.leaflet-tile-pane    { z-index: 20; }
.leaflet-overlay-pane { z-index: 40; }
.leaflet-shadow-pane  { z-index: 50; }
.leaflet-marker-pane  { z-index: 60; }
.leaflet-tooltip-pane   { z-index: 65; }
.leaflet-popup-pane   { z-index: 70; }

.leaflet-map-pane canvas { z-index: 10; }
.leaflet-map-pane svg    { z-index: 20; }

.leaflet-control   { z-index: 80; }

.leaflet-top, .leaflet-bottom {
	z-index: 99;
}